<%- include("header") %>

<h1>Compose</h1>
<form class="" action="/compose" method="post">

<div class="mb-3 form-group">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control" name="postTitle" id="exampleFormControlInput1" placeholder="" autocomplete="off">

  <label for="exampleFormControlTextarea1" class="form-label">Post</label>
  <textarea class="form-control" name="postBody" id="exampleFormControlTextarea1" rows="3" autocomplete="off"></textarea>
</div>

<button type="submit" class="btn btn-primary">Publish</button>

</form>

<%- include("footer") %>
